<li class="show-comment">
    <p>
        <% if((locals.user) && ((locals.user.id==comment.user.id) || (locals.user.id==post.user.id))) { %>
            <small>
                <a href="/comments/destroy/<%= comment.id %>">X </a>
            </small>
        <% } %>
        <%= comment.content %>
        <br />
        <small>
            - <%= comment.user.name %>
            <br />
            &nbsp ( commented at: <%= comment.updatedAt %> )
        </small>
    </p>
</li>