<li class="show-comment">
    <p>
        <%= comment.content %>
        <br />
        <small>
            - <%= comment.user.name %>
            <br />
            &nbsp ( commented at: <%= comment.updatedAt %> )
        </small>
    </p>
</li>