<h1> <%= title %> </h1>

<section id="feed-post">
    <% if(locals.user) { %>
        <h4>Post Something ...</h4>
        <form action="/posts/create" id="new-post-from" method="POST">
            <textarea name="content" cols="30" rows="3" placeholder="Type here..."></textarea>
            <input type="submit" value="post">
        </form>
    <% } %>
    
    <% if(!locals.user) { %>
        <p>To post something you can <a href="/user/sign-up">sign up</a> to Socialogram. If you are an existed user then, please <a href="/user/sign-in">sign in</a> .</p>
    <% } %>

    <h4>Posts</h4>
    <div id="post-list-container">
        <ul>
            <% for(post of posts) { %> 
                <li>
                    <p>
                        <%= post.content %>
                        <br>
                        <small>
                            <%= post.user.name %>
                        </small>
                    </p>

                    <% if(locals.user) { %>
                        <div class="post-comment">
                            <from action="/comments/create" method="POST">
                                <input type="text" name="content" placeholder="Type here to add your comment...">
                                <input type="hidden" name="post" value="<%= post._id %>">
                                <input type="submit" value="Add comment">
                            </from>
                        </div>
                    <% } %>  
                </li>
            <% } %>
        </ul>   
    </div>
</section>