<link rel="stylesheet" type="text/css" href="/css/home.css">

<div id="home-container">
    <section id="feed-post">
        
        <%- include('_create_post') -%>
    
        <h4>Posts</h4>
        <div id="post-list-container">
            <ul>
                <% for(post of posts) { %> 
                    <%- include('_post_section') -%>
                <% } %>
            </ul>   
        </div>
    </section>
    
    <section id="user_friends">
        <%- include('_show_friends') -%>
    </section>
</div>
