#home-container {
    display: flex;
    margin: 1%;

    p {
        text-align: justify;
    }

    #feed-post {
        width: 70%;
        padding: 1.5%;
    }

    #user_friends {
        width: 30%;
        // margin: 1%;
        padding: 1%;
        border-left: 1px solid lightblue;
        height: inherit;
    }
}