#layout-footer {
  color: white;
  background-color: gray;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between; }
  #layout-footer a {
    color: white;
    text-decoration: none; }
  #layout-footer .footer-nav ul {
    display: flex;
    flex-direction: row;
    list-style: none; }
    #layout-footer .footer-nav ul li {
      margin: 2px 10px 10px 2px; }
