#home-container {
  display: flex;
  margin: 1%; }
  #home-container p {
    text-align: justify; }
  #home-container #feed-post {
    width: 70%;
    padding: 1.5%; }
  #home-container #user_friends {
    width: 30%;
    padding: 1%;
    border-left: 1px solid lightblue;
    height: inherit; }
