#home-container {
  display: flex; }
  #home-container p {
    text-align: justify; }
  #home-container #feed-post {
    width: 70%;
    margin: 1%;
    padding: 1%; }
  #home-container #user_friends {
    width: 30%;
    margin: 2%;
    padding: 1%;
    border-left: 1px solid lightblue;
    height: inherit; }
