body {
  margin: 0;
  display: flex;
  flex-direction: column; }
  body #layout-main {
    flex: 1;
    min-height: 100vh;
    margin: 0;
    padding-top: 2.7rem; }
    @media (min-width: 439px) {
      body #layout-main {
        padding-top: 1.5rem; } }
